@model List<ResultProductDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/_AdminLayout.cshtml";
    int count = 0;
}

<div class="table-responsive">
    <table id="add-row" class="display table table-striped table-hover">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Ürün Adı</th>
                <th>Fiyatı</th>
                <th>Bilgi</th>
                <th>Stok</th>

                <th style="width: 10%">İşlem</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>#</th>
                <th>Ürün Adı</th>
                <th>Fiyatı</th>
                <th>Bilgi</th>
                <th>Stok</th>
 
                <th style="width: 10%">İşlem</th>
            </tr>
        </tfoot>

        <tbody>

     
                <tr>
                    @foreach (var product in Model)
                    {
                        count++;
                    <tr>
                        <th scope="row">@count</th>
                        <td>@product.ProductId</td>
                        <td>@product.ProductName</td>
                        <td>
                            @product.CategoryId
                        </td>
                        <td>@product.ProductIsActive</td>
                        <td>
                            <div class="form-button-action">
                            <a href="/Admin/Product/UpdateProduct/@product.ProductId" class="btn btn-link btn-primary">
                                    <i class="fa fa-edit"></i>
                                </a>
                            <a href="/Admin/Product/DeleteProduct/@product.ProductId" class="btn btn-link btn-danger">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    }
                </tr>
           
        </tbody>
    </table>
</div>

