@model BasketTotalDto

<div class="col-lg-8 table-responsive mb-5">
    <table class="table table-light table-borderless table-hover text-center mb-0">
        <thead class="thead-dark">
            <tr>
                <th>Total</th>
                <th>Products</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody class="align-middle">

            @if (Model?.BasketItems != null)
            {
                @foreach (var item in Model.BasketItems)
                {
                    <tr>
                        <td class="align-middle"><img src="#" alt="" style="width: 50px;"></td>
                        <td class="align-middle">@item.ProductName</td>
                        <td class="align-middle" name="price" data-price="@item.Price">@item.Price</td>
                        <td class="align-middle">
                            <div class="input-group quantity mx-auto" style="width: 100px;">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-primary btn-minus">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input type="number" class="form-control form-control-sm bg-secondary border-0 text-center" value="@item.Quantity" onchange="updatePrice(this, '@item.ProductId')">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-primary btn-plus">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td class="align-middle"><a href="/UIShoppingCart/RemoveItemFromBasket/@item.ProductId" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></a></td>
                    </tr>
                }
            }
            else
            {
                <p>No items in the basket.</p>
            }

        </tbody>
    </table>
</div>


