<div class="border-bottom">
    <h6 class="mb-3">Ürünler</h6>
    @foreach(var item in Model.BasketItems)
    {
        <div class="d-flex justify-content-between">
            <p>@item.ProductName</p>
            <p>@item.Quantity</p>
            <p>@item.Price</p>

        </div>
    }

    <p>
        @if (Model.TotalPriceWithDiscount != 0 && Model.TotalPriceWithDiscount != null)
        {
            <p>Başlangıç Tutarı:<span style="text-decoration: line-through;">@Model.TotalPrice</span></p>
            <p>@Model.TotalPriceWithDiscount</p>
            <p>KDV'li tutar': @Model.TotalPriceWithTax</p>
        }
        else
        {
            <p>Toplam Tutar: @Model.TotalPrice</p>
            <p>KDV'li Toplam Tutar': @Model.TotalPriceWithTax</p>
        }
    </p>
</div>
